<div class="flex h-screen overflow-y-auto bg-black text-white sm:w-[600px]">
    <main class="flex-1 max-w-2xl border-x border-gray-600">
        <app-post-creator></app-post-creator>

        <!-- Lista de publicaciones simuladas -->
        <div class="divide-y divide-gray-800">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </main>
</div>