<div class="flex items-center justify-center w-full h-full" *ngIf="chartOptions">
    <div class="w-full sm:w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 text-black">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title" [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid" [tooltip]="chartOptions.tooltip">
        </apx-chart>
    </div>
</div>

<div *ngIf="!chartOptions" class="flex flex-col items-center justify-center w-full h-full text-center p-6">
    <span class="material-icons text-white text-6xl mb-4">
        bar_chart
    </span>
    <h2 class="text-white text-xl font-semibold">No hay datos disponibles</h2>
    <p class="text-gray-400 mt-2">Intenta ajustar los filtros o vuelve a intentarlo más tarde.</p>
</div>