<div class="bg-black p-4 rounded-xl text-white w-full max-w-xl mx-auto shadow-lg border-b border-gray-700">
    <div class="flex items-start gap-4">
        <img src="{{ profileImage }}" class="w-12 h-12 rounded-full object-cover" alt="Avatar" />

        <div class="flex-1">
            <textarea [(ngModel)]="tweetText" placeholder="¿Qué está pasando?" maxlength="140"
                class="bg-transparent w-full text-white resize-none outline-none text-base placeholder-gray-400"
                rows="3"></textarea>

            <div class="mt-4 flex flex-wrap gap-2">
                <img *ngIf="imagePreview" [src]="imagePreview"
                    class="w-24 h-24 object-cover rounded-lg border border-gray-700" />
            </div>

            <div class="flex items-center justify-end gap-2">
                <p class="text-xs" [ngClass]="countCharacters(tweetText) === 140 ? 'text-red-400' : 'text-gray-400'">
                    {{ countCharacters(tweetText) }} / 140 caracteres
                </p>

                <label class="cursor-pointer mt-2">
                    <i class="material-icons hover:text-blue-500 text-white transition">image</i>
                    <input type="file" (change)="onImageSelected($event)" hidden accept="image/*" />
                </label>

                <button
                    class="bg-blue-600 hover:bg-blue-700 px-5 py-2 rounded-full font-medium disabled:opacity-50 transition cursor-pointer"
                    [disabled]="!tweetText && imageFile === null" (click)="post()">
                    Publicar
                </button>

            </div>
        </div>
    </div>
</div>