<div class="flex p-4 border-b border-gray-700 text-white gap-2">
    <img [src]="profileImage || post.profileImage" class="w-12 h-12 rounded-full object-cover" alt="Avatar">

    <div class="flex-1">
        <div class="flex items-center gap-1 flex-wrap">
            <span class="font-bold">{{ firstName || post.firstName }} {{ lastName || post.lastName }}</span>
            <span class="text-gray-400">{{ post.username }} · {{ post.date }}</span>
        </div>

        <p class="mt-1 text-sm">{{ post.content }}</p>

        <img *ngIf="post.image" [src]="post.image" class="w-full h-auto object-cover mt-2" alt="Imagen del post">

        <div class="flex justify-between mt-3 max-w-md text-gray-400 text-sm">
            <div class="flex items-center gap-1 cursor-pointer" (click)="commentPost()">
                <i class="material-icons text-base">chat_bubble_outline</i>
                <span>{{ post.comments?.length || 0 }}</span>
            </div>

            <div class="flex items-center gap-1 cursor-pointer" (click)="!loading && likePost(post)">
                <i class="material-icons text-base" [ngClass]="{
              'text-red-500': hasUserLiked(post),
              'text-gray-400': !hasUserLiked(post)
            }">
                    favorite
                </i>
                <span>{{ post.likes?.length || 0 }}</span>
            </div>

            <div class="flex items-center gap-1" (click)="onClick()">
                <i class="material-icons text-base cursor-pointer">insights</i>
            </div>

            <div *ngIf="userSignal()?.isAdmin === 'true'" class="flex items-center gap-1"
                (click)="togglePostVisibility(post)">
                <i *ngIf="!post.show" class="material-icons text-base cursor-pointer">visibility_off</i>
                <i *ngIf="post.show" class="material-icons text-base cursor-pointer">visibility</i>
            </div>
        </div>

        <app-comment-creator *ngIf="showCommentCreator" (commentCreated)="onCommentCreated($event)"
            (closeModal)="showCommentCreator = false"></app-comment-creator>

    </div>
</div>