<nav class="h-screen w-20 sm:w-64 bg-gray-950  text-white flex flex-col justify-between px-2 sm:px-4 py-6">
    <!-- Logo -->
    <div>
        <div class="mb-6 flex justify-center sm:justify-start">
            <img src="assets/images/musa.png" alt="Logo Musa" class="w-15 h-15 sm:w-20 sm:h-20">
        </div>

        <!-- Nav Items -->
        <ul class="space-y-6 text-lg font-medium">
            <li>
                <a href="#"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4">
                    <span class="material-icons text-white">home</span>
                    <span class="hidden sm:inline">Inicio</span>
                </a>
            </li>
            <li>
                <a href="#"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4">
                    <span class="material-icons text-white">person</span>
                    <span class="hidden sm:inline">Perfil</span>
                </a>
            </li>
        </ul>

        <!-- Botón Publicar -->
        <div class="mt-6 flex justify-center sm:justify-start">
            <button
                class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full w-12 sm:w-full font-bold flex items-center justify-center md:justify-center gap-2">
                <span class="material-icons">edit</span>
                <span class="hidden sm:inline">Publicar</span>
            </button>
        </div>
    </div>

    <!-- Perfil -->
    <div class="flex items-center justify-center sm:justify-start gap-3 mt-6 cursor-pointer hover:bg-gray-800 p-2 rounded-lg relative"
        (click)="toggleMenu()" tabindex="0" (blur)="closeMenu()">
        <img src="assets/images/musa.png" alt="Perfil" class="rounded-full w-10 h-10">
        <div class="hidden sm:block leading-tight">
            <p class="font-semibold text-sm">{{firstName}} {{lastName}}</p>
            <p class="text-gray-400 text-sm">{{username}}</p>
        </div>

        <!-- Menú desplegable -->
        @if(menuOpen){
        <div class="absolute bottom-full left-0 mb-2 bg-gray-800 rounded-md shadow-lg text-white w-56 z-50">
            <ul>
                <li>
                    <a href="/profile" class="block px-4 py-2 hover:bg-gray-700">Ir
                        al perfil</a>
                </li>
                <li>
                    <button (click)="logout()" class="w-full text-left px-4 py-2 hover:bg-gray-700">Cerrar
                        sesión</button>
                </li>
            </ul>
        </div>
        }
    </div>

</nav>