<nav class="h-screen w-20 sm:w-64 bg-black  text-white flex flex-col justify-between px-2 sm:px-4 py-6">
    <!-- Logo -->
    <div>
        <div class="mb-6 flex justify-center sm:justify-start">
            <img src="assets/images/musa.png" alt="Logo Musa" class="w-15 h-15 sm:w-20 sm:h-20">
        </div>

        <!-- Nav Items -->
        <ul class="space-y-6 text-lg font-medium pb-6 border-b border-gray-600">
            <li>
                <a routerLink="/home"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4"
                    (click)="closeMenu()">
                    <span class="material-icons text-white">home</span>
                    <span class="hidden sm:inline">Inicio</span>
                </a>
            </li>
            <li>
                <a routerLink="/profile"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4"
                    (click)="closeMenu()">
                    <span class="material-icons text-white">person</span>
                    <span class="hidden sm:inline">Perfil</span>
                </a>
            </li>
            <li *ngIf="isAdmin">
                <a routerLink="/dashboard-statistics"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4"
                    (click)="closeMenu()">
                    <span class="material-icons text-white">assessment</span>
                    <span class="hidden sm:inline">Estadísticas</span>
                </a>
            </li>
            <li *ngIf="isAdmin">
                <a routerLink="/dashboard-users"
                    class="hover:text-blue-400 flex items-center justify-center sm:justify-start gap-0 sm:gap-4"
                    (click)="closeMenu()">
                    <span class="material-icons text-white">people</span>
                    <span class="hidden sm:inline">Usuarios</span>
                </a>
            </li>
        </ul>

    </div>

    <!-- Perfil -->
    <div class="flex items-center justify-center sm:justify-start gap-3 mt-6 cursor-pointer hover:bg-gray-800 p-2 rounded-lg relative"
        (click)="toggleMenu()" tabindex="0" (blur)="closeMenu()">
        <img src="{{ profileImage }}" alt="Perfil" class="rounded-full w-10 h-10 object-cover">
        <div class="hidden sm:block leading-tight">
            <p class="font-semibold text-sm">{{firstName}} {{lastName}}</p>
            <p class="text-gray-400 text-sm">{{username}}</p>
        </div>

        <!-- Menú desplegable -->
        @if(menuOpen){
        <div class="absolute bottom-full left-0 mb-2 bg-gray-800 rounded-md shadow-lg text-white w-56 z-50">
            <ul>
                <li>
                    <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-700">Ir
                        al perfil</a>
                </li>
                <li>
                    <button (click)="logout()"
                        class="w-full text-left px-4 py-2 hover:bg-gray-700 cursor-pointer">Cerrar
                        sesión</button>
                </li>

            </ul>
        </div>
        }
    </div>

</nav>